* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 26%;
  /*border:3px solid white;*/
  /*border-radius: 50px;*/
  margin: 5px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list {
  width: 71%;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;/******************************/
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /*color: #3a8841;*/
  font-weight: bolder;
}

.nav-list li a:hover {
  color: grey;
}

.rightNav {
  width: 28%;
  /*background-color: blueviolet;*/
  text-align: right;
  padding: -1 22px;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid #3a8841;
  border-radius: 9px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("../img/sn.jpg");
  background-size: cover;
  background-blend-mode: darken;  /*************************************************************/
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: auto;
  /* max-width: 98%; */
  height: 70%;
}

.firstSection {
  height: 80vh;
}

.firstHalf {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 350%;
  padding: 120px;
}
.text-big {
  font-size: 70px;
  /*color: #3a8841;*/
  color: white;/*******/
}
.btn {
  padding: 6px 19px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  /*color: #3a8841;
  border-color: #3a8841;*/
  color:white;
  border-color:white;
}

.btn-dark {
  color: white;
  border: 2px solid white;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 73%;
  margin: auto;
  padding: 30px;
}

.paras {
  padding: -1px 0px;
  max-width: 1120px;
}

.sectionTag {
  font-size: 45px;
  padding: 30px 0px;
  text-align: center;
}

.sectionSubTag {
  font-size: 18px;
  padding: 7px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.thumbnail img {
  width: 435px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 19px;
}

.section-left {
  flex-direction: row-reverse;
}

.contact {
  /*background-color: #f9f7f6;*/
  height: 833px;
}

.text-center {
  padding-top: 20px;
  text-align: center;
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  color: white;
}

.form {
  max-width: 25%;
  margin: 25px auto;
}

.form-input {
  padding: 5px 3px;
  margin: 14px 0px;
  width: 100%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer {
  text-align: center;
  padding: 19px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  color: white;
  background-color: grey;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}

.contact-background {
  background: rgba(0, 0, 0, 0.7) url("../img/sn.jpg");/*****************************/
  background-size: cover;
  background-blend-mode: darken;/**********************/
  height: min-content;
}

.text-contact {
  text-align: center;
  padding: 30px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

.contact-img {
  width: 4%;
  /*border:3px solid white;*/
  /*border-radius: 50px;*/
  margin: 8px;
  padding: 0px 21px;
}

.details {
  /* display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 366px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}
#dynamic-footer a {
  color: white; /* Change the link color to blue */
  text-decoration: none; /* Remove underline */
}

#dynamic-footer a:hover {
  color: #b4ddbe; /* Change the link color on hover to red */
}
